body, ul, li，dl, dd,dd{ margin:0; padding:0; font:14px "微软雅黑";}
::-moz-placeholder{color:#999;} 
::-webkit-input-placeholder{color:#999;}
:-ms-input-placeholder{color:#999;}

/* 时间天气部件样式 */
container > header > span.text_comp_prpt {background-position: -222px 0; width: 40px; }
container > header > span.time_comp_prpt {background-position: -263px 0; width: 40px; }
container > section.prpt_set > container > div > input.currCity{width:100px;padding:2px; margin-left:10px; border:1px solid #aaa;}
.citySlect{position:relative;}
.citySlect .arrow-outer{right: 55px; top: 7px;}
.citySlect .arrow-inner{top: -6px;}
.cityList{ position: absolute; left: 69px; top: 22px; width: 104px; max-height:250px; overflow:auto; border:1px solid #aaa; background-color:#fff; z-index:99; border-top:none;display:none;}
.cityList a{display:block; height:22px; line-height:22px; text-indent:2px; font-size:13px; color:#5F52A0; background-color:#fff; text-decoration:none; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}
.cityList a:hover, .cityList a.current{color:#444; background-color:#D3F1D5;}
.cityList span{display:block; height:22px; line-height:22px; text-indent:2px; font-size:13px; color:#fff; background-color:#f00; }
.color_select_list ul{width:212px; margin:10px auto 0;}
.color_select_list li{ display:inline-block; width:22px; height:22px; margin:0 3px 0 0; padding:4px; border:1px solid #fff;}
.color_select_list li:hover{ background-color:#ECFDED; border:1px solid #46AE4B;}
.color_select_list li span{ display:inline-block; width:20px; height:20px;  border:1px solid #000;}
.color_select_list .moreColor{ position:relative; cursor:pointer; padding:5px 8px 0 0; float:right;}
.moreColor .more_color_select_panel{position:absolute; right:10px; display:none; z-index:99; }
.moreColor .more_color_select_panel.check{display:block; }
.moreColor .more_color_select_btn{border: 1px solid #6A976C;border-radius: 3px;color: #949494; display: block; font: 14px/20px '微软雅黑'; height: 21px; line-height:21px; text-align: center;width: 55px;}
.moreColor dl.colorPannel{  width:141px; height:180px; margin-top:12px; padding:10px 10px 2px; border:1px solid #AEAEAE; -moz-box-shadow:-5px -5px 5px #bbb; -webkit-box-shadow:-5px -5px 5px #bbb; box-shadow:0 0 10px #bbb; border-radius:5px; background-color:#fff; overflow:hidden;}
.moreColor dl.colorPannel dt{float:left; width:22px; margin-right:12px;}
.moreColor dl.colorPannel dd{float:right; width:107px; overflow:hidden;}
.moreColor dl.colorPannel span{ display:block; width:20px; height:20px;  border:1px solid #000; }
.moreColor dl.colorPannel dt span{ margin-bottom:8px;}
.moreColor dl.colorPannel dd span{ float:left; border-right:0; margin-bottom:8px;}
.arrow-inner{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);-webkit-box-shadow:0 0 1px #bbb;-moz-box-shadow:0 0 1px #bbb;box-shadow:0 0 1px #bbb;border:1px solid #AEAEAE;height:10px;position:absolute;width:10px;top:4px;background-color:#fff;}
.arrow-outer {height:10px;overflow:hidden;position:absolute;width:12px;top:4px;right:20px;}
select.borderWidthSet{width:60px; font-size:13px; margin:10px; padding:2px;}
.opacitySet{overflow:hidden;}
.opacitySet div{ float:left; }
.bgOpacity{ color:#B7B7B7; }
.count{ position: relative;}
.sliderRail{ position:relative; width:100px; height:4px; border:3px solid #fff; background-color:#C1C1C1; margin:8px 10px 0; font-size:0px;}
.sliderRail .sliderProgress{ position:absolute;left:0;bottom:0; background-color:#9ED6A0; width:88px; height:4px;  }
.sliderRail .slider{ position:absolute; left:88px; top:-4px; width:10px; height:10px; background-color:#FEFFFE; cursor:pointer; border:1px solid #A0A0A0; border-radius:5px;}

/* 优秀作品部件样式 */
container > header > span.eWork_comp_prpt {background-position: 8px 0; width: 40px; }
.commonProp{width: 200px; margin:0 auto;}
.commonProp dl{overflow:hidden;}
.commonProp dl dt{float: left; width: 75px; margin-right: 10px;}
.commonProp dl dd{float: left; width: 115px;}
.commonProp .details_bg{ border:1px solid #ccc; width:73px; height:58px;}
.commonProp input.workType{border: 1px solid #D4D4D4;color: #666;margin-top: 10px;padding: 2px;width: 109px;}
#eWorksWrap  .scroll_item{display:none;}
#eWorksInner .scroll_item{display:block;}
#eWorksWrap  .scroll_item .eWorksProp{overflow:hidden;}
.eWorksProp .uploadFile{float: left; width:80px; height:94px;border: 1px solid #D4D4D4; margin-right:10px;}
.eWorksProp .worksInfo{float: left; width:86px;}
.eWorksProp .worksInfo  .workName, .eWorksProp .worksInfo  .authorInfo{border: 1px solid #D4D4D4; color: #666; padding: 2px;width: 80px;}
select.courseName { font-size: 13px; margin-left: 10px;  padding: 2px; width: 100px;}
.add_Bg{position:relative; padding:5px;width:190px;height:130px;}
.add_Bg  img.courseList_bg{width:190px;height:130px;}
.add_Bg  .resetBg{position:absolute; top:-15px; right:-8px; width:27px;height:32px; display:none; background:url(../images/resetBg.png) no-repeat; cursor:pointer; }










