@charset "UTF-8";

$lineStyle : 1px solid #D5D5D5;
$fontC : #949494;
$bdC : #959595;
$grayBdC :#6A976C;
$greenBdC: #46AE4B ;
$bdStyle : 1px solid $bdC ;
$titleFont : 14px '微软雅黑';
$panelC : #FFFFFF;
$mnPbd : 1px solid #A7A7A7;
$mnPbdSh :0px 0px 6px rgba(0,0,0,0.3);
$ptPbdSh : -1px -1px 2px rgba(0,0,0,0.2);
@mixin mnPbdS (){
  position:absolute;
  -webkit-box-shadow: $mnPbdSh;
  -moz-box-shadow: $mnPbdSh;
  box-shadow: $mnPbdSh;
  border-radius : 4px;
  border:$mnPbd;
  background-color:$panelC;

  top:35px;
  padding:6px 0;
  &:before {
    display:block;
    position:absolute;
    width: 8px;
    height:8px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    border-top:$mnPbd;
    border-left:$mnPbd;
    background-color:$panelC;
    top:-5px;
    right:10px;
    content:"";
    -moz-box-shadow: $ptPbdSh;
    -webkit-box-shadow: $ptPbdSh;
    box-shadow: $ptPbdSh;
  }
}

@mixin nvStyle(){
  & > nav {
    & > span {
      width:0;
      height:0;
      display:inline-block;
      border:5px solid transparent;
      border-right-width:0px;
      border-left-color:#858C85;
      font-size:0;
      margin-right:5px;
      margin-left:5px;
    }
    & > label {
      font:14px "微软雅黑";
      font-weight:bold;

    }
  }

  &.check > nav > span {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  & > container {
    display:none;
  }
  &.check > container {
    display:block;
  }
}

html,body{
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style-type: none;
}
.clear {
  width:0px;
  height:0px;
  padding:0;
  margin:0;
  clear:both;
}
container {
  display:block;
}

container {
   > header {
     width:210px;
     padding:8px 5px;

     > span {
       display:inline-block;
       margin-right:8px;
       background-repeat:no-repeat;
       width:41px;
       height:41px;
       background-image:url(../images/prpt_2.png);
       &.text_comp_prpt {
           background-position: - 307px 0;
           width:30px;
       }
       &.scrollImg_comp_prpt {
           background-position: -151px 0;
           width:35px;
       }
       &.img_comp_prpt {
         background-position: -189px 8px;
         width:30px;
       }
       &.video_comp_prpt {
         background-position: -189px 8px;
         width:30px;
       }
       &.rect_comp_prpt {
         background-position: -36px 6px;
         width:37px;
       }
       &.flash_comp_prpt {
         background-position: -189px 8px;
         width:30px;
       }
       &.webPage_comp_prpt {
         background-position: -116px 6px;
         width:30px;
       }
       &.ppt_comp_prpt {
         background-position: -189px 8px;
         width:30px;
       }
     }
     > label {
       display:inline-block;
       width:120px;
       font: 18px "微软雅黑";
       font-weight:bold;
       color:$fontC;
       position : relative;
       top:-5px;
     }
   }

  > section {
    border-top: $lineStyle;
    width :226px;
    padding:8px 0;
    @include nvStyle();
    > nav {
      height:20px;
    }

    &.pos_size {
      > nav {
        background-color:#D3F1D5;
      }
      > container {
        height: 50px;
        margin:10px 0 2px;
        > ul {
          float:left;
          width:90px;
          height:46px;
          &:first-child {
            margin-right:30px;
          }
          > li {
            margin-bottom:8px;
            > span {
              display : inline-block;
              width:15px;
              color:$fontC;
              font:14px '微软雅黑';
              margin-right:8px;
            }
            > input {
              width:60px;
              height:20px;
              border:$bdStyle;
              border-radius:2px;
            }
          }
        }
      }
    }
    &.prpt_set {
      > nav {
        background-color:#ECFDED;
        border:1px solid #6C966E;
      }
    }
  }
}

.color_select {
    margin-top: 10px;
    > label {
      display:block;
      font:$titleFont;
      float:left;
    }
    > span.color_current {
      display:block;
      float:left;
      width:55px;
      height:20px;
      border: 1px solid #000000;
      margin-left:25px;
    }
    > ul {
      margin: 5px 0 0 5px;
      > li {
        float:left;
        border:1px solid #ffffff;
        padding:5px;
        margin-left:2px;
        > span {
          width:20px;
          height:20px;
          display:block;
          border: 1px solid #000000;
        }
        &.check {
          border:1px solid $greenBdC;
          background-color:#E5FFE8;
        }
        &.color_item_1 > span {background-color:#E71812;}
        &.color_item_2 > span {background-color:#F39801;}
        &.color_item_3 > span {background-color:#FFF000;}
        &.color_item_4 > span {background-color:#8DC41E;}
        &.color_item_5 > span {background-color:#00A0EA;}
        &.color_item_6 > span {background-color:#5F539F;}
        &.color_item_7 > span {background-color:#FACD89;}
        &.color_item_8 > span {background-color:#12B5B2;}
        &.color_item_9 > span {background-color:#E5007F;}
        &.color_item_10 > span {background-color:#C490C1;}
        &.color_item_11 > span {
          width: 56px;
          height: 20px;
          border:1px solid #6A976C;
          font:14px '微软雅黑';
          text-align :center;
          border-radius:5px;
          line-height:20px;
          color:$fontC;
        }
        &.color_item_11 {
          position:relative;

          > div.more_color_select_panel {
            position:absolute;
            width:160px;
            z-index:5;
            right:18px;
            @include mnPbdS();
            display:none;
            > ul {
              width:140px;
              margin: 0 auto;
              > li {
                margin-bottom:8px;
                .item > span{
                  width:20px;
                  height:20px;
                  display:block;
                  border: 1px solid black;
                }
                > div.item {
                  float:left;
                }
                > ul {
                  float:right;
                  width:106px;
                  margin-right: 0px;
                  > li{
                    float:left;
                    &.item > span{
                      border-left-width:0px;
                    }
                  }
                  > li.item:first-child > span {
                    border-left-width:1px;
                  }
                }
              }
            }
          }
          > div.check {
            display:block;
          }
        }

      }
    }
}


container > section.prpt_set > container > div.opacity_select > label{
  display:inline;
}
.opacity_select {
  > label {
    font :$titleFont;
  }
  .opacity_select_range {
    display:inline-block;
    position:relative;
    width:120px;
    top:5px;
    top:1px\0;
  }
}

.font_style_select {
  margin-top:15px;

  select {
    height:20px;
    border:1px solid #969696;
    border-radius:4px;
    font :14px "宋体";
    color: $fontC;
  }
  .font_family_select {
     float:left;
     margin-right:20px;
     > select {
       width:125px;
     }

  }
  .font_size_select {
     float:left;
    > select {
      width:45px;
    }

  }
}

.font_other_select {
  margin-top: 15px;
  > label {
    font :$titleFont;
  }
  .font_other_style_select {
    display:inline-block;
    position:relative;
    top: 6px;
    > li {
      float:left;
      width:20px;
      height:20px;
      border:1px solid $fontC;
      border-radius:5px;
      text-align:center;
      margin-left:5px;

    }

    .font_style_bold {
       font-weight:bold;
    }
    .font_style_italic {
      font-weight:bold;
      font-style:italic;
    }
    .font_style_line {
      text-decoration:underline;
    }
  }

  .font_align_select {
    display:inline-block;
    position:relative;
    top: 3px;
    margin-left:10px;
    > li {
      float:left;
      width:20px;
      height:16px;
      background:url(../images/txt_align.png) no-repeat;
      margin-left:5px;
    }
    .font_align_left {
      background-position:0 0;
      &.check {
        background-position:-20px 0;
      }
    }
    .font_align_center {
      background-position:0 -20px;
      &.check {
        background-position:-20px -20px;
      }
    }
    .font_align_right {
      background-position:0 -40px;
      &.check {
        background-position:-20px -40px;
      }
    }
  }
}

.text_scroll_style_select {
  margin-top: 15px;
  > label {
    display:block;
  }
  label {
    font :$titleFont;
  }
  select {
    color:$fontC;
  }
  .text_scroll_dim {
    display:inline-block;
    margin-top:5px;
    margin-right:10px;
    color:$fontC;
  }

  .text_scroll_speed {
    display:inline-block;
    margin-top:5px;
    color:$fontC;
  }
}


//通用样式
container > section.prpt_set > container > div {
  margin-top:10px;
  > label {
    font :$titleFont;
    display:block;
    margin-bottom:10px;
  }
  > input[type=text] {
    width:200px;
  }
}


//部件样式
/** 轮播图 start **/

.paizhao_prpt_input_text {
  #isFtp {
    width:20px;
    border:none;
    border:1px solid $greenBdC;
  }
}
container > section.prpt_set > container > div.paizhao_prpt_input_text > label{
  color:$fontC;
  display:inline;
  > span:first-child {
    display:inline-block;
    width:14px;
    height:15px;
    line-height:15px;
    background-color:#F4BA4C;
    border-radius:10px;
    padding-left:1px;
    color:#ffffff;
  }
  #ftpPath {
    color:black;
  }
}


.play_prpt_input_text {
  #tm_during  {
    width:20px;
    border:1px solid #969696;
  }
}
container > section.prpt_set > container > div.play_prpt_input_text > label{
  color:$fontC;
  display:inline;
}

.imgList_outer .scroll_item {
  width:200px;
  padding:10px 0px 0;
  border:1px solid #D4D4D4;
  margin: 0 auto 20px;
  > img {
    display:block;
    margin:0 auto 5px;
    width:180px;
    height:120px;
  }

  .scroll_title_input {
    width:178px;
    height:20px;
    border:1px solid $bdC;
  }

  > div {
    width:180px;
    margin: 0 auto;
  }
  > div:last-child {
    width:200px;
    height:30px;
    background-color: #D4D4D4;
    margin-top:5px;
    text-align:right;
    > span {
      background:url(../images/up_dwn.png) no-repeat;
      display:inline-block;
      height:16px;
      margin-top:7px;
    }
    .scroll_item_moveUp {
      width:10px;
      margin-right:8px;
    }
    .scroll_item_moveDwn {
      width:10px;
      background-position:-28px 0;
      margin-right:8px;
    }
    .scroll_item_del {
      width:16px;
      background-position:-79px 0;
      margin-right:20px;
    }
  }

}

.imgList_outer .imgList > div.scroll_item {
  &:first-child .scroll_item_moveUp{
       visibility:hidden;
  }
  &:last-child .scroll_item_moveDwn {
      visibility:hidden;
  }
}
.imgList_outer > div.scroll_item {
  display:none;
}



.newImg {
  width:200px;
  height:140px;
  border:1px solid #D4D4D4;
  margin:0 auto;
}
.newImg > span{
  display:block;
  background:url(../images/addImg.png) no-repeat;
  width:44px;
  height:44px;
  margin:48px auto;
}
.newImg:active > span {
  background-position:-46px 0;
}

/** 轮播图 end **/



.prpt_input_text > img {
  width:200px;
  height:200px;
  margin: 0 auto;
  display:block;
}




/*input[type="range"] {
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 0 0px #424242,
  0 1px 0 #060607 inset,
  0px 2px 10px 0px black inset,
  1px 0px 2px rgba(0, 0, 0, 0.4) inset,
  0 0px 1px rgba(0, 0, 0, 0.6) inset;
  margin-top: 2px;
  background-color: #272728;
  border-radius: 15px;
  width: 400px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: default;
  top: 1px;
  height: 9px;
  width: 20px;
  background: none repeat scroll 0 0 #777;
  border-radius: 15px;
  -webkit-box-shadow: 0 -1px 1px black inset;
}*/
