.window{border:none; background:#46AF4B;padding:1px; animation: popup 0.3s 1; }
@keyframes popup{
	from{
		transform: scale(0);
	}
	60%{
		transform: scale(1.1);
	}
	to{
		transform: scale(1);
	}
}
.window, .window-shadow{border-radius:0;}
.panel-header, .panel-body{border:none; }
.panel-title {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 36px;
	text-indent: 12px;
}
.panel-tool-close{background: url("../../images/device/panel_tools.png");
}
.window .window-header .panel-tool {
     right: 10px;
}
#Promptdlg #btnselect.besure{
margin-left: 100px;
}
div.content#sure{
margin-left: 120px;
}
#shutprompt2 #cancelshutdown.btn{
	margin-left: 160px;
}
#cancelshutdown,#cancel,#ok{
    padding:0px; 
	background: #46AE4B;
	 border: medium none;
	 border-radius: 5px;
	 font-family: "微软雅黑";
	 color: #FFFFFF;
	 font-size: 18px;
	 height: 40px;
	 margin-right: 20px;
	 padding: 0;
	 width: 124px;
	 cursor: pointer;
}
/* #cancelshutdown:hover,#ok:hover,#cancel:hover{
	 background:#A9A9A9;
} */
.panel-tool a {
      opacity: 1;
      height: 15px;
}
#hint{
	   margin-top:100px;
	   margin-left:60px;
}
#Promptdlg .content {
	    background: url("../../images/device/hint.png") no-repeat scroll 0 50px rgba(0, 0, 0, 0);
		font: 16px/28px 'Microsoft Yahei';
		padding: 50px 0 30px;
		text-indent: 63px;
		width: 297px;
}
#shutprompt2 #cancelshutdown{
	        margin-top:30px;
 }
.content#shutting1{
		  background: url("../../images/device/pcrunshut.png") no-repeat scroll 60px 50px rgba(0, 0, 0, 0);
			font: 16px/28px 'Microsoft Yahei';
			padding: 50px 0 0 0;
			text-indent: 63px;
			width: 500px;
			height:90px;
	
 }
 		
.content#shutting2{
	    background: url("../../images/device/shutdwnOk.png") no-repeat scroll 10px 20px rgba(0, 0, 0, 0);
			font: 16px/28px 'Microsoft Yahei';
			padding: 0px 0 0 0;
			text-indent: 73px;
			height:90px;
			line-height: 90px;
			width: auto;
	   }
