.resource-move{
	background:url(../../image/frontend/resources/resource-move.png) no-repeat scroll 0 0;
}
.resource-move:hover{
	background:url(../../image/frontend/resources/resource-move.png) no-repeat scroll -53px 0;
	  cursor:pointer;
}
.resource-edit{
	background:url(../../image/frontend/resources/resource-edit.png) no-repeat scroll 2px 0;
}
.resource-edit:hover{
	background:url(../../image/resources/resource-edit.png) no-repeat scroll -29px 0;
	  cursor:pointer;
}
.resource-delete{
	background:url(../../image/frontend/resources/resource-delete.png) no-repeat scroll 1px 0;
}
.resource-delete:hover{
	background:url(../../image/frontend/resources/resource-delete.png) no-repeat scroll -31px 0;
	  cursor:pointer;
}
.resource-download{
	background:url(../../image/frontend/resources/resource-download.png) no-repeat scroll 0 0;
}
.resource-download:hover{
	background:url(../../image/frontend/resources/resource-download.png) no-repeat scroll -37px 0;
	cursor:pointer;
}
.resource-newfolder{
	background:url(../../image/frontend/resources/rersource-newfolder.png) no-repeat scroll 0 0;
}
.resource-newfolder:hover{
	background:url(../../image/frontend/resources/rersource-newfolder.png) no-repeat scroll -35px 0;
	  cursor:pointer;
}
.resource-upload{
	width:50px;
	background:url(../../image/frontend/resources/resource-upload.png) no-repeat scroll 0 0;
}
.resource-upload:hover{
	background:url(../../image/frontend/resources/resource-upload.png) no-repeat scroll -35px 0;
	  cursor:pointer;
}
.resource-uloaded{
	background:url(../../image/frontend/resources/resource-uploaded.png) no-repeat scroll 0 0 ;
}
.resource-uloaded:hover{
	background:url(../../image/frontend/resources/resource-uploaded.png) no-repeat scroll -35px 0;
	cursor:pointer;
}
.resource-public{
	background:url(../../image/frontend/resources/resource-public.png) no-repeat scroll 0 0;
}
.resource-public:hover{
	background:url(../../image/frontend/resources/resource-public.png) no-repeat scroll -35px 0;
	cursor:pointer;
}
.resource-pass{
	background:url(../../image/frontend/resources/resource-pass.png) no-repeat scroll 0 0;
}
.resource-pass:hover{
	background:url(../../image/frontend/resources/resource-pass.png) no-repeat scroll -55px 0;
	cursor:pointer;
}
.resource-noPass{
	background:url(../../image/frontend/resources/resource-noPass.png) no-repeat scroll 1px 0;
}
.resource-noPass:hover{
	background:url(../../image/frontend/resources/resource-noPass.png) no-repeat scroll -52px 0;
	cursor:pointer;
}


.master-menu-content{
	height: 40px;
	border-bottom: 1px solid rgb(224,224,224);
}
.master-menu-content .master-menu-content-img-public{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-public.png) no-repeat scroll 4px 0;
}
.master-menu-content .master-menu-content-img-public2{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-public.png) no-repeat scroll -20px 0;
	cursor:pointer;
}
.master-menu-content .master-menu-content-img-myResource{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-uploaded.png) no-repeat scroll 5px 0;
}

.master-menu-content .master-menu-content-img-myResource2{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-uploaded.png) no-repeat scroll -20px 0;
	cursor:pointer;
}
.master-menu-content .master-menu-content-img-pendingAudit{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-toBePassed.png) no-repeat scroll -32px 0;
}

.master-menu-content .master-menu-content-img-pendingAudit2{
	
	height: 30px;
	width: 28px;
	display: inline-block;
	margin-top: 11px;
	vertical-align: top;
	background:url(../../image/frontend/resources/resource-toBePassed.png) no-repeat scroll 5px 0;
	cursor:pointer;
}
.master-menu-content .master-menu-content-txt{
	display: inline-block;
	padding-top: 10px;
	font-size: 14px;
	padding-left: 21px;
}

.master-menu-content a{
	text-decoration: none;
	color: rgb(96,96,96);
	/* font-weight: bold; */
}