<div id="@#+bid+#@" class="item" style="left:@#+x+#@px;top:@#+y+#@px;z-index:@#+idx+#@;">
	<div class="editItem14" style="width: @#+w+#@px;height:@#+h+#@px;">
		<object class="STREAM_COMP_src" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">
			<param name="AutoStart" value="-1" />
			<param name="Balance" value="0" />
			<param name="enabled" value="-1" />
			<param name="EnableContextMenu" value="0" />
			<param name="url" value="@#+url+#@" />
			<param name="PlayCount" value="1" />
			<param name="rate" value="1" />
			<param name="currentPosition" value="0" />
			<param name="currentMarker" value="0" />
			<param name="defaultFrame" value="" />
			<param name="invokeURLs" value="0" />
			<param name="baseURL" value="" />
			<param name="stretchToFit" value="0" />
			<param name="volume" value="50" />
			<param name="mute" value="0" />
			<param name="uiMode" value="None" />
			<param name="windowlessVideo" value="-1" />
			<param name="fullScreen" value="0" />
			<param name="enableErrorDialogs" value="-1" />
			<embed class="STREAM_COMP_src" type="application/x-vlc-plugin" codebase="axvlc.cab" autoplay="yes" loop="no" volume="100" width="@#+w+#@px" height="@#+h+#@px" target="@#+url+#@" />
		</object>
	</div>
</div>