body{
	background-color: rgb(201,201,201)
}
#comp_group_list{
	display:none;
}
div.item{
	background-color: transparent;
	border: 0px;
}
.container>.title{
	width: 100%;
}

.left-one{
	width: 199px;

height: 40px;
line-height: normal;
display: inline-block;
float: left;
border-radius: 2px 0px 0px 2px;
/*padding: 5px;*/
}
.left-one img,.left-one span{
	margin-left: 10px;
	margin-top: 6px;
}
.left-one span{
	margin-top: 0px;
}
.left-one img{
width: 30px;
margin-left: 20px;
display: inline-block;
float:left;
}
.right-one{
	width: 850px;
height: 41px;
background: black;
display: inline-block;
float: right;
}
.master-content-tool{
	height: 40px;
border-radius: 0px 2px 2px 0px;
box-shadow: 0 1px 0 0 #28b779;
background-color: #dbdbdb;
width: auto;
 padding-left: 0px; 
}
.master-content-tool .firstphoto{
float: right;
margin-right: 10px;
}
.nav-list{
	height: 77px;

}



/* gallery display */
.photos {
  display: block;
  height: 77px;
background:#f2f2f2;
}

.photos ul {
  list-style: none;
  height: 77px;
display: inline-block;
padding-right: 16px;

}
.photos ul.firstphoto{
	width: auto;

border-right: 2px solid #dbdbdb;
}
.photos ul.secondphoto{
	width: auto;

border-right: 2px solid #dbdbdb;
}
.photos ul li {
    /*background: #fff;*/
	display: inline;
	list-style: none;
  	float: left;
    margin: 14px 5px 0px 14px;
  	padding: 0;
  	text-align:center; 
    color: #000;
    /*border: 1px solid #ccc;*/
}
.master-content-tool ul li{
	display: inline;
list-style: none;
float: left;
margin: 7px 0px 0px 7px;
padding: 0;
text-align: center;
color: #000;
}
.master-content-tool ul li.slidewindow{
	font-size: 12px;
	color: #fff;
	margin-top: 12px;
	cursor: pointer
}
.photos ul li span.text{
	font-size: 12px;
}
.photos ul li a {
  display: block;
  height: 34px;
  /*opacity: 0.75;*/
  font-family: Verdana;
  /*font-size: 11px;*/
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos ul li a img{
  border: 0px;
}
.master-content-tool ul li a{
	display: block;
  margin-bottom: 2px; 
  height: 35px;
  /*opacity: 0.75;*/
  font-family: Verdana;
  /*font-size: 11px;*/
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.master-content-tool img {
vertical-align: bottom;
border: 0px;
/* width: 16px; */
}
.photos ul li a:hover {
  opacity: 1.0;
}
