@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

.clear {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  clear: both; }

container {
  display: block; }

container > header {
  width: 210px;
  padding: 8px 5px; }
  container > header > span {
    display: inline-block;
    margin-right: 8px;
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
    background-image: url(../images/prpt_2.png); }
    container > header > span.text_comp_prpt {
      background-position: -307px 0;
      width: 30px; }
    container > header > span.scrollImg_comp_prpt {
      background-position: -151px 0;
      width: 35px; }
    container > header > span.img_comp_prpt {
      background-position: -189px 8px;
      width: 30px; }
    container > header > span.video_comp_prpt {
      background-position: -189px 8px;
      width: 30px; }
    container > header > span.rect_comp_prpt {
      background-position: -36px 6px;
      width: 37px; }
    container > header > span.flash_comp_prpt {
      background-position: -189px 8px;
      width: 30px; }
    container > header > span.webPage_comp_prpt {
      background-position: -116px 6px;
      width: 30px; }
    container > header > span.ppt_comp_prpt {
      background-position: -189px 8px;
      width: 30px; }
  container > header > label {
    display: inline-block;
    width: 120px;
    font: 18px "微软雅黑";
    font-weight: bold;
    color: #949494;
    position: relative;
    top: -5px; }
container > section {
  border-top: 1px solid #d5d5d5;
  width: 226px;
  padding: 8px 0; }
  container > section > nav > span {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
    border-right-width: 0px;
    border-left-color: #858C85;
    font-size: 0;
    margin-right: 5px;
    margin-left: 5px; }
  container > section > nav > label {
    font: 14px "微软雅黑";
    font-weight: bold; }
  container > section.check > nav > span {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  container > section > container {
    display: none; }
  container > section.check > container {
    display: block; }
  container > section > nav {
    height: 20px; }
  container > section.pos_size > nav {
    background-color: #D3F1D5; }
  container > section.pos_size > container {
    height: 50px;
    margin: 10px 0 2px; }
    container > section.pos_size > container > ul {
      float: left;
      width: 90px;
      height: 46px; }
      container > section.pos_size > container > ul:first-child {
        margin-right: 30px; }
      container > section.pos_size > container > ul > li {
        margin-bottom: 8px; }
        container > section.pos_size > container > ul > li > span {
          display: inline-block;
          width: 15px;
          color: #949494;
          font: 14px '微软雅黑';
          margin-right: 8px; }
        container > section.pos_size > container > ul > li > input {
          width: 60px;
          height: 20px;
          border: 1px solid #959595;
          border-radius: 2px; }
  container > section.prpt_set > nav {
    background-color: #ECFDED;
    border: 1px solid #6C966E; }

.color_select {
  margin-top: 10px; }
  .color_select > label {
    display: block;
    font: 14px "微软雅黑";
    float: left; }
  .color_select > span.color_current {
    display: block;
    float: left;
    width: 55px;
    height: 20px;
    border: 1px solid #000000;
    margin-left: 25px; }
  .color_select > ul {
    margin: 5px 0 0 5px; }
    .color_select > ul > li {
      float: left;
      border: 1px solid #ffffff;
      padding: 5px;
      margin-left: 2px; }
      .color_select > ul > li > span {
        width: 20px;
        height: 20px;
        display: block;
        border: 1px solid #000000; }
      .color_select > ul > li.check {
        border: 1px solid #46ae4b;
        background-color: #E5FFE8; }
      .color_select > ul > li.color_item_1 > span {
        background-color: #E71812; }
      .color_select > ul > li.color_item_2 > span {
        background-color: #F39801; }
      .color_select > ul > li.color_item_3 > span {
        background-color: #FFF000; }
      .color_select > ul > li.color_item_4 > span {
        background-color: #8DC41E; }
      .color_select > ul > li.color_item_5 > span {
        background-color: #00A0EA; }
      .color_select > ul > li.color_item_6 > span {
        background-color: #5F539F; }
      .color_select > ul > li.color_item_7 > span {
        background-color: #FACD89; }
      .color_select > ul > li.color_item_8 > span {
        background-color: #12B5B2; }
      .color_select > ul > li.color_item_9 > span {
        background-color: #E5007F; }
      .color_select > ul > li.color_item_10 > span {
        background-color: #C490C1; }
      .color_select > ul > li.color_item_11 > span {
        width: 56px;
        height: 20px;
        border: 1px solid #6A976C;
        font: 14px '微软雅黑';
        text-align: center;
        border-radius: 5px;
        line-height: 20px;
        color: #949494; }
      .color_select > ul > li.color_item_11 {
        position: relative; }
        .color_select > ul > li.color_item_11 > div.more_color_select_panel {
          position: absolute;
          width: 160px;
          z-index: 5;
          right: 18px;
          position: absolute;
          -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          border: 1px solid #a7a7a7;
          background-color: white;
          top: 35px;
          padding: 6px 0;
          display: none; }
          .color_select > ul > li.color_item_11 > div.more_color_select_panel:before {
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-top: 1px solid #a7a7a7;
            border-left: 1px solid #a7a7a7;
            background-color: white;
            top: -5px;
            right: 10px;
            content: "";
            -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2); }
          .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul {
            width: 140px;
            margin: 0 auto; }
            .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li {
              margin-bottom: 8px; }
              .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li .item > span {
                width: 20px;
                height: 20px;
                display: block;
                border: 1px solid black; }
              .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li > div.item {
                float: left; }
              .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li > ul {
                float: right;
                width: 106px;
                margin-right: 0px; }
                .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li > ul > li {
                  float: left; }
                  .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li > ul > li.item > span {
                    border-left-width: 0px; }
                .color_select > ul > li.color_item_11 > div.more_color_select_panel > ul > li > ul > li.item:first-child > span {
                  border-left-width: 1px; }
        .color_select > ul > li.color_item_11 > div.check {
          display: block; }

container > section.prpt_set > container > div.opacity_select > label {
  display: inline; }

.opacity_select > label {
  font: 14px "微软雅黑"; }
.opacity_select .opacity_select_range {
  display: inline-block;
  position: relative;
  width: 120px;
  top: 5px;
  top: 1px\0; }

.font_style_select {
  margin-top: 15px; }
  .font_style_select select {
    height: 20px;
    border: 1px solid #969696;
    border-radius: 4px;
    font: 14px "宋体";
    color: #949494; }
  .font_style_select .font_family_select {
    float: left;
    margin-right: 20px; }
    .font_style_select .font_family_select > select {
      width: 125px; }
  .font_style_select .font_size_select {
    float: left; }
    .font_style_select .font_size_select > select {
      width: 45px; }

.font_other_select {
  margin-top: 15px; }
  .font_other_select > label {
    font: 14px "微软雅黑"; }
  .font_other_select .font_other_style_select {
    display: inline-block;
    position: relative;
    top: 6px; }
    .font_other_select .font_other_style_select > li {
      float: left;
      width: 20px;
      height: 20px;
      border: 1px solid #949494;
      border-radius: 5px;
      text-align: center;
      margin-left: 5px; }
    .font_other_select .font_other_style_select .font_style_bold {
      font-weight: bold; }
    .font_other_select .font_other_style_select .font_style_italic {
      font-weight: bold;
      font-style: italic; }
    .font_other_select .font_other_style_select .font_style_line {
      text-decoration: underline; }
  .font_other_select .font_align_select {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 10px; }
    .font_other_select .font_align_select > li {
      float: left;
      width: 20px;
      height: 16px;
      background: url(../images/txt_align.png) no-repeat;
      margin-left: 5px; }
    .font_other_select .font_align_select .font_align_left {
      background-position: 0 0; }
      .font_other_select .font_align_select .font_align_left.check {
        background-position: -20px 0; }
    .font_other_select .font_align_select .font_align_center {
      background-position: 0 -20px; }
      .font_other_select .font_align_select .font_align_center.check {
        background-position: -20px -20px; }
    .font_other_select .font_align_select .font_align_right {
      background-position: 0 -40px; }
      .font_other_select .font_align_select .font_align_right.check {
        background-position: -20px -40px; }

.font_text2_select {
    margin-top: 15px; 
}
.font_text2_select .font_text2_style_select {
    position: relative;
    top: 3px;
    margin-left: 10px;
}
.font_text2_select .font_text2_style_select span {
    display: inline-block;
}
.font_text2_select .font_text2_style_select .nicEdit-main {
    color: #00ff00;
}
.font_text2_select .font_text2_button_style_select {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text_scroll_style_select {
  margin-top: 15px; }
  .text_scroll_style_select > label {
    display: block; }
  .text_scroll_style_select label {
    font: 14px "微软雅黑"; }
  .text_scroll_style_select select {
    color: #949494; }
  .text_scroll_style_select .text_scroll_dim {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #949494; }
  .text_scroll_style_select .text_scroll_speed {
    display: inline-block;
    margin-top: 5px;
    color: #949494; }

container > section.prpt_set > container > div {
  margin-top: 10px; }
  container > section.prpt_set > container > div > label {
    font: 14px "微软雅黑";
    display: block;
    margin-bottom: 10px; }
  container > section.prpt_set > container > div > input[type=text] {
    width: 200px; }

/** 轮播图 start **/
.paizhao_prpt_input_text #isFtp {
  width: 20px;
  border: none;
  border: 1px solid #46ae4b; }

container > section.prpt_set > container > div.paizhao_prpt_input_text > label {
  color: #949494;
  display: inline; }
  container > section.prpt_set > container > div.paizhao_prpt_input_text > label > span:first-child {
    display: inline-block;
    width: 14px;
    height: 15px;
    line-height: 15px;
    background-color: #F4BA4C;
    border-radius: 10px;
    padding-left: 1px;
    color: #ffffff; }
  container > section.prpt_set > container > div.paizhao_prpt_input_text > label #ftpPath {
    color: black; }

.play_prpt_input_text #tm_during {
  width: 20px;
  border: 1px solid #969696; }

container > section.prpt_set > container > div.play_prpt_input_text > label {
  color: #949494;
  display: inline; }

.imgList_outer .scroll_item {
  width: 200px;
  padding: 10px 0px 0;
  border: 1px solid #D4D4D4;
  margin: 0 auto 20px; }
  .imgList_outer .scroll_item > img {
    display: block;
    margin: 0 auto 5px;
    width: 180px;
    height: 120px; }
  .imgList_outer .scroll_item .scroll_title_input {
    width: 178px;
    height: 20px;
    border: 1px solid #959595; }
  .imgList_outer .scroll_item > div {
    width: 180px;
    margin: 0 auto; }
  .imgList_outer .scroll_item > div:last-child {
    width: 200px;
    height: 30px;
    background-color: #D4D4D4;
    margin-top: 5px;
    text-align: right; }
    .imgList_outer .scroll_item > div:last-child > span {
      background: url(../images/up_dwn.png) no-repeat;
      display: inline-block;
      height: 16px;
      margin-top: 7px; }
    .imgList_outer .scroll_item > div:last-child .scroll_item_moveUp {
      width: 10px;
      margin-right: 8px; }
    .imgList_outer .scroll_item > div:last-child .scroll_item_moveDwn {
      width: 10px;
      background-position: -28px 0;
      margin-right: 8px; }
    .imgList_outer .scroll_item > div:last-child .scroll_item_del {
      width: 16px;
      background-position: -79px 0;
      margin-right: 20px; }

.imgList_outer .imgList > div.scroll_item:first-child .scroll_item_moveUp {
  visibility: hidden; }
.imgList_outer .imgList > div.scroll_item:last-child .scroll_item_moveDwn {
  visibility: hidden; }

.imgList_outer > div.scroll_item {
  display: none; }

.newImg {
  width: 200px;
  height: 140px;
  border: 1px solid #D4D4D4;
  margin: 0 auto; }

.newImg > span {
  display: block;
  background: url(../images/addImg.png) no-repeat;
  width: 44px;
  height: 44px;
  margin: 48px auto; }

.newImg:active > span {
  background-position: -46px 0; }

/** 轮播图 end **/
.prpt_input_text > img {
  border: 1px solid #d4d4d4;
  width: 200px;
  height: 140px;
  margin: 0 auto;
  display: block; }

/*input[type="range"] {
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 0 0px #424242,
  0 1px 0 #060607 inset,
  0px 2px 10px 0px black inset,
  1px 0px 2px rgba(0, 0, 0, 0.4) inset,
  0 0px 1px rgba(0, 0, 0, 0.6) inset;
  margin-top: 2px;
  background-color: #272728;
  border-radius: 15px;
  width: 400px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: default;
  top: 1px;
  height: 9px;
  width: 20px;
  background: none repeat scroll 0 0 #777;
  border-radius: 15px;
  -webkit-box-shadow: 0 -1px 1px black inset;
}*/
