.user_head_return_icon{
	float: left;
	width: 24px;
	height: 17px;
	background: url(../image/frontend/return_icon.png) no-repeat;
	margin-top: 30%;
}
.split_screen_p{
	float: left;
	width: 100%;
	height: 100%;

}
.split_screen_p .split_screen_top{
	border:1px solid #000;
	width: 31%;
	height: 35%;
	margin:1% auto 0 auto;
}
.split_screen_p .split_screen_bottom{
	width: 100%;
	height: 35%;
	margin-top:1.5%;
}
.split_screen_p .split_screen_bottom .center_left{
	border:1px solid #000;
	height: 100%;
	float: right;
	width: 62%;
}
.split_screen_p .split_screen_bottom .center_right{
	border:1px solid #000;
	height: 100%;
	float: left;
	width: 62%;
} 
.split_screen_bottom_l{
	width: 49%;
	float: left;
	height: 100%;
}
.split_screen_bottom_r{
	width: 49%;
	float: right;
	height: 100%;
}
.class_fd_ban{
	position: absolute;

	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #fff;
	opacity: .6;
}
.class_fd_ban span{
	font-size: 12px;
	float: left;
	margin-left: 10px;
}
.split_screen_nbott{
	margin: 6% auto 0 auto;
	height: 70%;
}
.split_screen_nbott .center_le{
	border:1px solid #000;
	width: 30%;
	float: left;
	margin-right: 4.5%;
	height: 100%;
}
.split_screen_nbott .center_mi{
	border:1px solid #000;
	width: 30%;
	float: left;
	height: 100%;
	margin-right: 4.5%;
}
.split_screen_nbott .center_ri{
	border:1px solid #000;
	width: 30%;
	height: 100%;
	float: left ;
}
.split_screen_tetop{
	margin-top: 1%;
	width: 100%;
	height: 45%;

}
.split_screen_videod{
	float: left;
	width:49.5%;
	height: 100%;

}
.split_screen_videod .screen_video_sr{
	border:1px solid #000;
	float: right;
	width: 72%;
	height: 100%;
}
.split_screen_videop{
	float: right;
	width: 50%;
	height: 100%;
}
.split_screen_videop .screen_video_ay{
	clear: both;
	border:1px solid #000;
	float: left;
	width: 53.5%;
	height: 48%;
}
.split_screen_tetob{
	margin-top: 3.5%;
	width: 100%;
	height: 23%;

	margin-left:-5px;

}
.screen_tetob_s1,.screen_tetob_s3{
	border:1px solid #000;
	float: left;
	width: 48%;
	height: 100%;

}
.screen_tetob_s2,.screen_tetob_s4{
	border:1px solid #000;
	float: right;
	width: 48%;
	height: 100%;
}
.split_screen_tetobn{
	float: left;
	height: 100%;
	width: 51%;

}
.split_screen_tetobt{
	float:right;
	height: 100%;
	width: 48%;

}
.split_screen_tetobn_n{
	height: 100%;
	float: right;
	width: 65.5%;
}
.split_screen_tetobt_n{
	height: 100%;
	float: left;
	width: 65.5%;
}
.reen_vide_p{
	height: 100%;
	width: 60%;
	float: left;
}
.screen_video_stdt{
	height: 48%;
	float: right;
}
.reen_vide_b{
	float: right;
	height: 100%;
	width: 38.5%;
}
.screen_video_stdtay{
	margin-bottom: 2%;
	border:1px solid #000;
	clear: both;
	float: left;
	width: 48%;
	height: 48%;
}
.screen_video_stdtam1{
	border:1px solid #000;
	float: left;
	width: 48%;
	height: 100%;
}
.screen_video_stdtam2{
	border:1px solid #000;
	float: right;
	width: 48%;
	height: 100%;
}
.screen_videoim_t{
	margin-top: 1%;
	height: 38%;
}
.screen_videoim_t_left{
	float: left;
	width: 49%;
	height: 100%;
}
.screen_videoim_t_right{
	float: right;
	width: 49%;
	height: 100%;
}
.screen_videoim_t_left_i{
	border:1px solid #000;
	float: right;
	height: 100%;
}
.screen_videoim_t_left_l{
	float: left;
	height: 100%;
	width: 26%;
	margin-right: 2%;
}
.screen_videoim_t_left_l_i{
	border:1px solid #000;
	height: 48%;
	float: left;
	width: 100%;
}
.screen_videoim_t_left_l_t{
	margin-top: 5%;
	border:1px solid #000;
	height: 48%;
	float: left;
	width: 100%;
}
.screen_videoim_i{
	height: 23%;
	margin:5% auto 0 auto;
}
.screen_videoim_m{
	float: left;
	height: 100%;
	width: 32%;
	border:1px solid #000;
}
.screen_videoim_j{
	border:1px solid #000;
	margin: 0 auto;
	height: 100%;
	width: 32%;
}
.screen_videoim_f{
	border:1px solid #000;
	float: right;
	width: 32%;
	height: 100%;
}
.split_screen_p_onebig{
	border: 1px solid #000;
	height: 100%;
	margin: 0 auto;
	width: 80%;
}
.split_screen_p_onebigb{
	border: 1px solid #000;
	height: 60%;
	margin: 0 auto;
	margin-top: 5%;
	width: 60%;
}
.big_class_video_i{
	border:1px solid #000;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	cursor: pointer;
}
