.win_planclass_div{
	width: 450px;
	height: 530px;
	position: absolute;
	display:none;
	background:#FFFFFF;
}
.win_planclass_divli,.win_planclass_bottom{
	float: left;
	margin-left:2%;
	width: 96%;
	margin-top: 20px;
}
.win_planclass_divli > span{
	height: 28px;
	line-height: 28px;
	float: left;
}
.win_planclass_divli > input{
	border: 1px solid #bdbdbd;
	height: 28px;
	line-height: 28px;
	float: left;
}
.win_planclass_divli_name{
	width: 335px;
}
.win_planclass_input_time{
	background: url(../image/frontend/planclass_iconimg_time.png) no-repeat 125px 8px;
	width: 143px;
}
.planclass_tit{
	margin-left: 10px;
}
.planclass_tit_time{
	margin-left: 15px;
	margin-right: 15px;
}
.chico_class{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 160px;
	height: 330px;
}
.chico_class > span{
	height: 28px;
	line-height: 28px;
	width: 100%;
	display: block;
}
.chico_class_title,.chico_class_titletwo{
	width: 100%;
	border: 1px solid #bdbdbd;
	height: 300px;
	/*overflow: scroll;*/
}
.chico_class_title a,.chico_class_titletwo a{
	display: block;
	width: 160px;
	height: 28px;
	line-height: 28px;
	float: left;
	text-indent: 2em;
	position: relative;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.chico_class_title a::before,.chico_class_titletwo a::before{
	background: url(../image/frontend/planclass_iconimg.png) no-repeat -33px 0;
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top:7px;
	left: 5px;
	display: block;
}
.chico_class_title a.hassetnas::before,.chico_class_titletwo a.hassetnas::before{
	background: url(../image/frontend/planclass_iconimg.png) no-repeat -33px -24px;
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top:7px;
	left: 5px;
	display: block;
}
.chico_class_titletwo a::after{
	background: url(../image/frontend/planclass_iconimg.png) no-repeat -18px 0;
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top:9px;
	right: 5px;
	display: block;
}
.chico_class_title a:hover,.chico_class_titletwo a:hover{
	background: #bdbdbd;
}
.chico_conten{
	float: left;
	width: 65px;
	height: 330px;
}
.chico_conten > span{
	width: 26px;
	margin-top: 150px;
	margin-left: 20px;
	height: 25px;
	background: url(../image/frontend/planclass_iconimg.png) no-repeat -54px 0;
	display: block;
	float: left;
}
.win_planclass_bottom > span{
	float: right;
	width: 80px;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
}
.win_planclass_bottom > span:nth-child(1){
	background: #28b779;
	color: #fff;
}
.win_planclass_bottom > span:nth-child(2){
	color: #bdbdbd;
	border:1px solid #bdbdbd;
}