<div id="@#+bid+#@" class="item" style="left:@#+x+#@px;top:@#+y+#@px;transform:scale(@#+scX+#@,@#+scY+#@);-webkit-transform:scale(@#+scX+#@,@#+scY+#@);z-index:@#+idx+#@;" params='{"during":@#+during+#@}'>
    <ul class="scroll_acd_ul" style="width: 300px;height: 200px;">
    	@@##<li class="scroll_acd_layer" style="width: 220px;height: 200px;"><div class="scroll_acd_title">$%!+title+!%$</div><img class="scroll_acd_img" src="$%!+path+!%$" /></li>##@@
    </ul>
</div>
<div id="@#+bid+#@_accordion_bigImg" class="item" style="z-index:9000;">
	<div class="accordion_bigImg_wrapper">
		<ul>
			
		</ul>
	</div>
</div>