.window{border:none; background:#46AF4B;padding:0px;animation: popup 0.3s;}
@keyframes popup{
	from{
		transform: scale(0);
	}
	60%{
		transform: scale(1.1);
	}
	to{
		transform: scale(1);
	}
}
.panel-title {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	height: 32px;
	line-height: 36px;
	text-indent: 12px;
}
.projectplan-add {
  background: url(../../images/plan/projectplan-add.png) no-repeat scroll 3px 0;
}

.projectplan-add:hover{
  background: url(../../images/plan/projectplan-add.png) no-repeat scroll -30px 0;
  cursor:pointer;
}
.noticeplan-add {
  background: url(../../images/plan/noticeplan-add.png) no-repeat scroll 3px 0;
}

.noticeplan-add:hover{
  background: url(../../images/plan/noticeplan-add.png) no-repeat scroll -30px 0;
  cursor:pointer;
}
.plan-del {
  background: url(../../images/plan/plan-del.png) no-repeat scroll 3px 0;
}

.plan-del:hover{
  background: url(../../images/plan/plan-del.png) no-repeat scroll -30px 0;
  cursor:pointer;
}
.plan-edit {
  background: url(../../images/plan/plan-edit.png) no-repeat scroll 3px 0;
}

.plan-edit:hover{
  background: url(../../images/plan/plan-edit.png) no-repeat scroll -30px 0;
  cursor:pointer;
}
