html,body{ margin:0; padding:0; width:100%; font-size:14px; text-align:center; background-color:rgb(201,201,201); font-family: "Microsoft YaHei","����",sans-serif}
h1,h2,h3,h4,div,table,ul,li,ol,dl,tr,td,form,dt,dd,p,img{ margin:0; padding:0; list-style:none; border:0;}

.window{
	animation: popup 0.3s 1;
}
@keyframes popup{
	from{
		transform: scale(0);
	}
	60%{
		transform: scale(1.1);
	}
	to{
		transform: scale(1);
	}
}
 


.master-header {
	width: 100%;
	background-color:rgb(201,201,201);
	background-position: center;
	z-index: 1;
	text-align:center;
}
.master-header>div{
	vertical-align: middle;
}
.master-mainbody {
	width: 100%;
	z-index:1;
height: 86%;
	float: left;
}

.master-mainbody:after{
	display: block;
	clear: both;
	width: 100%;
	height: 0px;
	font-size: 0px;
	content: ".";
}

.master-leftbar {
	width:213px;
	height: 648px;
	overflow::auto;
	float: left;
	border:solid;
	border-width:1px;
	border-color:#959595;
	background-color:#F9F9F9;
	text-align:left;
	overflow:auto;
}

/*the left menu header*/
.master-leftbarheader{
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    background-color: rgb(96,96,96);
	width:100%;
    font-size: 16px;
	color:#FFFFFF;
	text-align:left;
}

.master-content {
	/* height:100%; 
	background-color:#f0f0f0;*/
	width: 78%;
	background-color: #fff;
	float:right;
	overflow:visible;
	height: 100%;
	/* width:868px; */
}

.master-contentheader {
	height:48px;
	background-color:#F9F9F9;
	overflow:auto;
	width:100%;
	border-width:1px;
}

.master-contenttool {
	height: 44px;
	background-color:#46AF4B;
	overflow:none;
	width:860px;
	padding-left:6px;
}

.master-contenttool>a{
	float:left;
	margin-top:7px;
	height:33px;
	width:88px;
	color:#FFFFFF;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	cursor: pointer;
    display: inline-block;
	list-style: none outside none;
	text-decoration: none;
	border-radius: 1;
	border:1px solid #46AF4B;
}

.master-contenttool input{
	float:left;
	margin-top:7px;
	height:29px;
	width:167px;
	text-align:left;
	font-size:14px;
	/*font-weight:bold;*/
    display: inline-block;
	list-style: none outside none;
	text-decoration: none;
	border:1px solid #46AF4B;
}

.master-contenttool>span{
	float:right;
	margin-top:7px;
	text-align:center;
	/*font-weight:bold;*/
    display: inline-block;
	list-style: none outside none;
	text-decoration: none;
	margin-left:33px;
	border-radius: 5px;
	margin-right:5px;
	height:27px;
}

.master-contenttool div>span{
	float:left;
	margin-top:0px;
	text-align:center;
	/*font-weight:bold;*/
    display: inline-block;
	list-style: none outside none;
	text-decoration: none;
	margin-left:33px;
	border-radius: 5px;
}

.master-contenttool>span>a{
	margin-top:0px;
	float:left;
}

.master-contenttool>span>span{;
	float:left;
}

.master-contenttool a:visited a:hover{
	background-color:#FFFFFF;
	color:#46AF4B;
	border-radius: 15;
}

.master-contenttool div{
	float:left;
	margin-top:10px;
	margin-left:14px;
	margin-right:18px;
	height:32px;
	width:32px;
	text-align:left;
	font-size:14px;
	/*font-weight:bold;*/
    display: inline-block;
	list-style: none outside none;
	text-decoration: none;
	border:1px solid #46AF4B;
}

.master-contentbody {
	height: 612px;
	background-color:#F9F9F9;
	overflow:auto;
	border-bottom:solid;
	border-left:solid;
	border-right:solid;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-color:#959595;
	border-width:1px;
	width:866px;
}


.master-footer {
	width: 1100px;
	background-color:rgb(201,201,201);
	background-position: center;
	margin: 10px 0px;
}

.master-footer>div {
	text-align:center;
	font-size:12px; 
	color:white;
	text-align: right;
}

.master-tofirstpage {
  background: url(../images/device/1.fw.png) no-repeat scroll 0 0;
  margin-top:14px;
  margin-bottom:14px;
  width:32px;
  height:32px;
  float:left;
}

.master-tofirstpage:hover{
  background: url(../images/device/1.fw.png) no-repeat scroll -33px 0;
  cursor:pointer;
}

.master-modulename {
  margin-top:21px;
  margin-bottom:21px;
  margin-left:18px;
  width:80px;
  height:16px;
  float:left;
  text-align:center;
  font-size:18px;
  font-weight:bold;
}

/*add by yuyang 20140606*/

.master-header-span{
	float: left;
	margin-left: 10px;
	color: rgb(107,110,110);
}
.newtreecls{
	background-color:#f2f2f2;
	overflow: auto;
	float: left;
	width: 100%;
}
.newtreecls .ztree{
	margin: 0px;
}
input:focus{
	outline:none;
}


.ds_bottom_con{
	overflow: auto;
}

.deviceTables{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
}

.deviceTables tr td{
	padding: 6px 0px;
}

.bindclass tr td{
	text-align: center;
}
.bindclass select{
	width: 200px;
	height: 30px;
}


.attendanceTimeSettingWindow{
	margin: 50px 0px 0px 50px;
}

.attendanceTimeSettingWindow>input{
	height: 36px;
}

.attendanceTimeSettingWindow table tr td{
	text-align: left;
}

.attendanceTimeSettingWindow table tr td b{
	font-weight: normal;
	margin-left: 20px;
}

