<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对一个表操作 就是一个mapper -->
<mapper namespace="curdStudent">
	<!--
   	 使用parameterType属性指明查询时使用的参数类型  parameterType="Student"可省略
	resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    -->
    <insert id="insertStudent">
    	<!-- 传的参数属性名 -->
    	insert into student(name,age,score) values(#{name},#{age},#{score})
    </insert>
    <insert id="insertStudentCacheId">
    	insert into student(name,age,score) values(#{name},#{age},#{score})
    	<selectKey resultType="int" keyProperty="id" order="AFTER">
    		<!-- 查找id,只能在insert之后使用 order是mysql和oracle先后生成id-->
    		select @@identity
    	</selectKey>
    </insert>
	<delete id="deleteStudentById">
		delete from student where id=#{id}		<!-- 占位符,随意放 -->
	</delete>
	<update id="updateStudent">
		update student set name=#{name}, age=#{age} ,score=#{score} where id = #{id}
	</update>
	<select id="selectAllStudents" resultType="Student">
		select id,name,age,score from student
	</select>
	<select id="selectStudentById" resultType="Student">
		select * from student where id=#{idddd}
	</select>

</mapper>
