
.editItem25 {
    width: 200px;
    height: 50px;
    overflow: hidden;
    position:relative;
}
.editItem25 .text_bg_over{
	position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 5;
}
.editItem25 .TEXT_COMP_text2 {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow:hidden;
    color: #00ff00;
    z-index: 4;
}
.editItem25 .TEXT_COMP_text2 .scrollXDiv{
    word-break:keep-all;
}
.editItem25 .TEXT_COMP_text2 .scrollYDiv{
    word-break:normal;
    white-space:nowrap;
}
.editItem25 .TEXT_COMP_text2 .scrollXDiv > table{ width:100%; height:100%; border:0px; cellpadding:0px; cellspacing:0px}
.editItem25 .TEXT_COMP_text2 .scrollXDiv > table .rollingCell_2{ padding-left:50px;}
.editItem25 .TEXT_COMP_text2 .scrollXDiv > table .rollingCell_1 td, .editItem25 .TEXT_COMP_text2 .scrollXDiv > table .rollingCell_2 td{white-space:nowrap;word-break:keep-all;word-wrap:normal;}
.editItem25 .TEXT_COMP_text2 .scrollYDiv > table{ width:100%; height:100%; border:0px; cellpadding:0px; cellspacing:0px}
.editItem25 .TEXT_COMP_text2 .scrollYDiv > table .rollingCell_V2{ padding-top:50px;}
.editItem25 .TEXT_COMP_text2 .scrollYDiv > table .rollingCell_V1 td, .editItem25 .TEXT_COMP_text2 .scrollYDiv > table .rollingCell_V2 td{word-break:break-all;}
