<div id="@#+bid+#@" class="item" style="left:@#+x+#@px;top:@#+y+#@px;transform:scale(@#+scX+#@,@#+scY+#@);-webkit-transform:scale(@#+scX+#@,@#+scY+#@);z-index:@#+idx+#@;">
	<div class="editItem_time1" style="background-color: @#+bgC+#@; border-color: @#+bdC+#@; border-width: @#+bdW+#@px;width:145px;height:62px; color: @#+ftC+#@; position:relative;">
			<div class="wrap">
				<table>
					<tr>
						<td class="time"></td>
						<td class="date"></td>
					</tr>
				</table>
				
			</div>
	</div>
</div>