<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/cloudnote/login" method="post">
        账号啊<input type="text" name="username"><br>
        密码啊<input type="password" name="password"><br>
        验证码<input type="text" name="code"><br>
        <input type="submit" value="登陆">
    </form>
    <hr>
    <form action="/cloudnote/userlist">
        用户管理<input type="submit">
    </form>
    <a href="../page/user/user.html">this is user</a>
</body>
</html>